body {
  height: 100%;
  color: #333;
  font-size: 14px;
}
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
}
#container {
	height: 100%;
}

.first {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('../img/cars/MSXII.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 99;
}

.center {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  height: 278px;
  margin: auto;
  text-align: center;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-ms-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.bounce {
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -ms-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.arrow {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left:-20px;
	width: 40px;
	height: 12px;
	background-image: url("../img/cars/arrow.png");
	background-size: contain;
	cursor: pointer;
}
.car_section {
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 20px;
}
.car_section.second {
  overflow-x: hidden;
  overflow-y: hidden;
  /*background-color: #efa068;*/
}
.car_section.third {
  overflow-x: hidden;
  overflow-y: hidden;
  /*background-color: #bcd3ea;*/
}
.car_section.fourth {
  overflow-x: hidden;
  overflow-y: hidden;
  /*background-color: #e8cf87;*/
}
.car_section.fifth {
  overflow-x: hidden;
  overflow-y: hidden;
  /*background-color: #d44954;*/
}
.car_section.sixth {
  overflow-x: hidden;
  overflow-y: hidden;
  /*background-color: #b6b5ff;*/
}
.car_section.seventh {
  overflow-x: hidden;
  overflow-y: hidden;
  /*background-color: #ffa2a2;*/
}
.car_section.eighth {
  overflow-x: hidden;
  overflow-y: hidden;
  /*background-color: #c8f5ff;*/
}
.car_section.ninth {
  overflow-x: hidden;
  overflow-y: hidden;
  /*background-color: #eacfff;*/
}
.car_section.tenth {
  overflow-x: hidden;
  overflow-y: hidden;
  /*background-color: #ffce76;*/
}
.car_section.eleventh {
  overflow-x: hidden;
  overflow-y: hidden;
  /*background-color: #bee6dd;*/
}
.car_section.twelfth {
  overflow-x: hidden;
  overflow-y: hidden;
  /*background-color: #ffffff;*/
}

.title {
  position: absolute;
  left: 0%;
  top: 0%;
  height: 25%;
  opacity: 0;
}
.title_text {
  color: #333;
  margin-top: 150px;
  line-height: 1;
  -webkit-transition: all 800ms linear;
  -o-transition: all 800ms linear;
  transition: all 800ms linear;
  font-size: 10vh;
  width: 60vw;
  margin-left: 20vw;
  text-align: center;
  font-weight: 700;
  text-shadow: 8px 1px #e8e8e8;
}
.text_info {
  position: relative;
  left: 5vw;
  top: 35%;
  right: 0px;
  bottom: 0px;
  display: block;
  margin: auto;
  color: #333;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-left: -150vw;
  text-shadow:  2px 2px #e8e8e8;
}

.first .title {
  opacity:  1;
}

.first .title_text {
  color: #fff;
  text-shadow:  6px 2px #333;
}

.first .text_info {
  color: #fff;
  text-shadow:  2px 2px #333;
  margin-left: 0px;
}

.big {
  padding-top: 0px;
  font-size: 24px;
  line-height: 27px;
}
.info_a {
  position: absolute;
  top: 25%;
  width: 220px;
  height: 25%;
}
.info_b {
  position: absolute;
  top: 50%;
  width: 220px;
  height: 25%;
}
.info_c {
  position: absolute;
  top: 75%;
  width: 220px;
  height: 25%;
}
.car {
  z-index: 3;
  display: block;
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  width: 100%;
  max-width: 70vw;
  max-height: 70vh;
  margin-top: 40vh;
  border-radius: 5px;
  border: 20px solid #e8e8e8;
}
.sotto {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 20px;
  display: block;
  width: 100%;
  height: 180px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.previous_text {
  position: absolute;
  bottom: 25px;
  width: 100vw;
  text-align: center;
  color: #d7d7d7;
  cursor: pointer;
}
.sidebar {
  position: fixed;
  right: 10vw;
  z-index: 3;
  width: 50px;
  height: 100%;
  background-image: url('../img/cars/vertical_line.png');
  background-repeat: repeat-y;
}
.sidebar_car {
  color: #000 !important;
  text-decoration: none !important;
  position: absolute;
  left: 0px;
  top: 0%;
  right: 0px;
  z-index: 3;
  display: block;
  width: 100%;
  margin-top: 100%;
  margin-left: 25px;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #3a3a3a;
  font-size: 20px;
  font-weight: 600; 
  line-height: 29px;
  text-align: left;
  letter-spacing: 2px;
  text-decoration: none;
}
.sidebar_car:hover {
  font-size: 35px;
}
.sidebar_car._1 {
  top: 10.7%;
  margin-top: 0%;
}
.sidebar_car._2 {
  top: 18.4%;
  margin-top: 0%;
}
.sidebar_car._3 {
  top: 26.1%;
  margin-top: 0%;
}
.sidebar_car._4 {
  top: 33.8%;
  margin-top: 0%;
}
.sidebar_car._5 {
  top: 41.5%;
  margin-top: 0%;
}
.sidebar_car._6 {
  top: 49.26%;
  margin-top: 0%;
}
.sidebar_car._7 {
  top: 56.9%;
  margin-top: 0%;
}
.sidebar_car._8 {
  top: 64.6%;
  margin-top: 0%;
}
.sidebar_car._9 {
  top: 72.3%;
  margin-top: 0%;
}
.sidebar_car._10 {
  top: 80%;
  margin-top: 0%;
}
.sidebar_car._11 {
  top: 87.7%;
  margin-top: 0%;
}

.cont_sidebar {
  width: 100%;
  height: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
}
.segna {
  position: absolute;
  display: none;
  z-index: 1;
  width: 50px;
  height: 50px;
}

.bg_gear {
  position: fixed;
  z-index: 1;
  left: -37.5vh;
  width: 75vh;
  height: 75vh;
  opacity: 0.1;
  -webkit-animation: spin 12s linear infinite; 
  animation: spin 12s linear infinite; 
}
.bg_gear2 {
  position: fixed;
  z-index: 1;
  bottom: -20vh;
  left: -5vh;
  width: 50vh;
  height: 50vh;
  opacity: 0.1;
  -webkit-animation: spin 6s linear infinite; 
  animation: spin 6s linear infinite; 
}

.bg_sun {
  position: fixed;
  z-index: 1;
  right: -90px;
  width: 50vh;
  height: 50vh;
  opacity: 0.1;
  -webkit-animation: spin 4s linear infinite; 
  animation: spin 4s linear infinite; 
}

.bg_gear img, .bg_gear2 img, .bg_sun img {
  height: 100%;
  width: 100%;
}



@media (max-width: 767px) {
  .sidebar {
	  display: none;
  }
}
@media (max-width: 936px) {
  
  .sidebar {
	  display: none;
  }
  .car_section.second{
    height: 1000px;
  }
	.car_section.third{
	  height: 1000px;
	}
  .car_section.fourth {
    height: 1000px;
  }
  .car_section.fifth {
    height: 1000px;
  }
  .car_section.sixth {
    height: 1000px;
  }
  .car_section.seventh {
    height: 1000px;
  }
  .car_section.eighth {
    height: 1000px;
  }
  .car_section.ninth {
    height: 1000px;
  }
  .car_section.tenth {
    height: 1000px;
  }
  .car_section.eleventh {
    height: 1000px;
  }
  .car_section.twelfth {
    height: 1000px;
  }
   
  .title {
    width: 100%;
  }
  .title_text {
    padding-left: 0;
    font-size: 60px;
    padding-top: 15%;
    width: 90vw;
    margin-left: 5vw;
  }
  .text_info {
    left: 0;
  }
  .first .title_text {
    padding-top: 25%;
  }
  .first .previous_text {
    bottom: 10px;
  }
  .info_a {
    left: 0%;
    top: 46%;
    right: 0%;
    bottom: 0%;
    width: 100%;
  }
  .info_b {
    left: 0%;
    top: 60%;
    right: 0%;
    bottom: 1%;
    width: 100%;
  }
  .info_c {
    left: 0%;
    top: 75%;
    width: 100%;
  }
  .car {
    margin-left: 0;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    max-width: 100% !important;
  }
}

.footer {
  position: relative;
  width: 100%;
  z-index: 100;
}
nav.navbar{
  z-index: 100;
}
img{
  position: relative;
  max-width: inherit;
  z-index: 102;
}