
.navbar {
  top:0;
  margin: 0;
  color: white;
  position: absolute;
  width: 100%;
  border-radius: 0;
  border: 0;
  height: 100px;
  background-color: rgba(0,0,0,.30);
  /* border-bottom: solid 1px white; */
}
.navbar-collapse{
  padding-right: 2vw;
}
.nav.navbar-nav.navbar-right li a{
  color: white;
  font-weight: 700;
  padding: 0 20px;
  padding-left: 30px;
  line-height: 100px;
  font-stretch: expanded;
  font-family: 'Roboto', sans-serif;
}
.nav.navbar-nav.navbar-right li a:hover{
  color: rgb(240, 130, 23);
  border-bottom: solid 2px rgb(240, 130, 23);
}  
.brand-img-wrapper{
  height: 100px;
  top: 0;
  position: absolute;
}
.brand-img{
  margin: auto;
  position: absolute;
  height:70px;
  top:0;
  bottom: 0;
  padding-left: 2vw;
}
.dblue-fade{
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,40,120,.70)), to(rgba(0,0,0,0)));
  background-image: -webkit-linear-gradient(top, rgba(0,40,120,.70), rgba(0,0,0,0));
  background-image: -moz-linear-gradient(top, rgba(0,40,120,.70), rgba(0,0,0,0));
  background: linear-gradient(to bottom, rgba(0,40,120,.70), rgba(0,0,0,0));
}
.jumbotron{
  top: 0;
  position: absolute;
  height: 100%;
  width:100%;
  text-align: right;
  padding-top: 45vh;
  padding-right: 10vw;
}
.jumbotron h2, .jumbotron h1{
  font-family: 'Roboto', sans-serif;
  color: white;
}
.dblue-orange-fade.jumbotron{
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,40,120,.70)), to(rgba(255,130,30,.30)));
background-image: -webkit-linear-gradient(top, rgba(0,40,120,.70), rgba(255,130,30,.30));
background-image: -moz-linear-gradient(top, rgba(0,40,120,.70), rgba(255,130,30,.30));
background: linear-gradient(to bottom, rgba(0,40,120,.70), rgba(255,130,30,.30));
}
#small-line{
   background-color: white;
   width: 90px;
   margin-right:0;
   border:none;
   height: 5px;
}
.mobile-brand{
  height: 60px;
  margin: auto;
  display: none;
  text-align: center;
}
@media(max-width:768px) {
  .brand-img {
     display: none;
  }
  .navbar.navbar-default{
    height: 80px;
  }
  .brand-img-wrapper{
    height: 80px;
    width: 100%;

  top: 10px;
  }
  .container-fluid .navbar-header{
    border:0;
  }
  .navbar-default div.navbar-collapse
  {
      border-top:none;
      box-shadow:none;
  }
  .nav.navbar-nav.navbar-right li a{
    
    height: 60px;
    line-height: 60px;
    background-color: rgba(0,0,0,0.4)
  }
  .mobile-brand{
    display: table-cell;
    /* display: inline;  */
  }
  .nav.navbar-nav.navbar-right{
margin: 0;
margin-top: 30px;
border-top: solid 1px white;
}
  .navbar-collapse{
    padding: 0;
  }

  button.navbar-toggle{
    z-index: 102;
  }
}
