/* mobile friendly */

@media(max-width:768px) {

  .swiper-button-prev, .swiper-button-next {
    display: none !important;
  }

  .video-foreground {
    display: none;
  }
}

* { box-sizing: border-box; }

/* Home Body */
.home-body {
  padding: 40px;
}
#main{
  position: relative;
  top: 100vh;
}
.home-body p, h1, h2 {
  color: #fff;
}

.home-body p {
  font-size: 18px;
  font-weight: 300;
}

.home-body h2 {
  font-weight: 300;
}

.home-body .info{
  margin-top: 75px;
  margin-bottom: 75px;
}

.home-body .info{
  text-align: center;
  font-size: 17px;
}

.row.description{
  margin-top: 75px;
}

.home-body .mission {
  background-color:rgba(0, 0, 0, 0.2);
  padding-bottom: 25px;
  border: 2px solid rgba(256,256,256,0.6);
}
.dblue-orange-fade.jumbotron{
  position: fixed;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,40,120,.40)), to(rgba(255,130,30,.15)));
  background-image: -webkit-linear-gradient(top, rgba(0,40,120,.40), rgba(255,130,30,.15));
  background-image: -moz-linear-gradient(top, rgba(0,40,120,.40), rgba(255,130,30,.15));
  background: linear-gradient(to bottom, rgba(0,40,120,.40), rgba(255,130,30,0));
  }
  #load-gradient{
    transition: all 1.2s ease-in-out;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.90);    
    
    width: 100%;
    height: 100%;
  }
  .loaded #load-gradient{
    
    background-color:rgba(0, 0, 0, 0);    
  }
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-ms-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
body{
  background-image: url('../img/home/cad.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.index-header{
  position: fixed;
  width:100%;
  height: 100vh;
  top: 0;
 
}
.footer{
  margin: 0;
}
.navbar.navbar-default {
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
}
@media(max-width:768px) {
    .video-foreground {
      display: none;
    }
  }