#main {
    margin-top: 130px;
    overflow-x: hidden;
    text-align: center;
}

#instagram {
	margin-bottom: 45px;
}

#instagram img {
	width: 300px;
	height: 300px;
	margin: 10px;
}

#nanoGallery1 {
	margin-bottom: 45px;
}

.niceGallery ul.entries-columns {
	padding-left: 0px;
}

#player {
	margin-top: 30px;
	width: 80vw;
	height: 80vh;
	margin-bottom: 30px;
}
.navbar {
	top:0;
	color: white;
	position: absolute;
	width: 100%;
	border-radius: 0;
	border: 0;
	background-color: rgba(0,0,0,0.7)
  }