h2 {
  font-weight: 600;
  color: #636363;
}

p {
  font-size: 16px;
}

#myCarousel {
  height: 100vh;
  overflow: hidden; }
  #myCarousel .carousel-inner img {
    display: block;
    min-height: 100vh;
    min-height: 100vh;
    width: auto;
    height: auto; }
  #myCarousel .carousel-inner .img-1, .img-2, .img-3, .img-4 {
    background-repeat: no-repeat;
    background-position: center;
    min-width: 100vw;
    min-height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #myCarousel .carousel-inner .img-1 {
    background-image: url("../img/team-cover.jpg");
  }  
  #myCarousel .carousel-inner .img-2 {
    background-image: url("../img/team/team-2.jpg");
  }  
  #myCarousel .carousel-inner .img-3 {
    background-image: url("../img/team/team-3.jpg");
  }

.content {
  margin: 15px;
  text-align: center; }
  .content.savage img {
    width: 200px;
    margin-top: 15px;
    border-radius: 100%;
    left: 0px;}
  .content.savage p {
    margin-top: 10%; }

.team-content {}
  .team-content .body {
    transition: all 0.3s;
    height: 550px; }
    .team-content .body .electrical, .team-content .body .mechanical, .team-content .body .business {
      transition: all 0.3s; }
      .team-content .body .electrical .back-button, .team-content .body .mechanical .back-button, .team-content .body .business .back-button {
        display: none;
        float: left;
        background: transparent;
        border: none;
        font-size: 15px;
        text-decoration: underline;
        outline: none; }
      .team-content .body .electrical img, .team-content .body .mechanical img, .team-content .body .business img {
        width: 200px;
        border: 2px solid transparent;
        cursor: pointer;
        transition: all 0.3s;
        filter: grayscale(1); }
        .team-content .body .electrical img:hover, .team-content .body .mechanical img:hover, .team-content .body .business img:hover {
          filter: grayscale(0);
          border: 2px solid rgba(255, 255, 255, 0.2); }
        .team-content .body .electrical img.selected, .team-content .body .mechanical img.selected, .team-content .body .business img.selected {
          filter: grayscale(0);
          border: 2px solid rgba(255, 255, 255, 0.6); }
      .team-content .body .electrical p, .team-content .body .mechanical p, .team-content .body .business p {
        display: none; }
      .team-content .body .electrical.fade-out h2, .team-content .body .electrical.fade-out img, .team-content .body .electrical.fade-out p, .team-content .body .mechanical.fade-out h2, .team-content .body .mechanical.fade-out img, .team-content .body .mechanical.fade-out p, .team-content .body .business.fade-out h2, .team-content .body .business.fade-out img, .team-content .body .business.fade-out p {
        transition: all 0.3s; }
      .team-content .body .electrical.fade-out h2, .team-content .body .mechanical.fade-out h2, .team-content .body .business.fade-out h2 {
        opacity: 0;
        transform: translateY(-30px); }
      .team-content .body .electrical.fade-out img, .team-content .body .mechanical.fade-out img, .team-content .body .business.fade-out img {
        transform: translateX(30px);
        opacity: 0; }
      .team-content .body .electrical.fade-out p, .team-content .body .mechanical.fade-out p, .team-content .body .business.fade-out p {
        opacity: 0;
        transform: translateX(-30px); }
      .team-content .body .electrical.hide-away, .team-content .body .mechanical.hide-away, .team-content .body .business.hide-away {
        display: none; }
      .team-content .body .electrical.activated, .team-content .body .mechanical.activated, .team-content .body .business.activated {
        transition: all 0.3s;
        transition: width 0s;
        opacity: 1;
        width: 100%; }
        .team-content .body .electrical.activated .back-button, .team-content .body .mechanical.activated .back-button, .team-content .body .business.activated .back-button {
          display: inline-block; }
        .team-content .body .electrical.activated h2, .team-content .body .mechanical.activated h2, .team-content .body .business.activated h2 {
          transform: translate(0px, 0px);
          display: block;
          opacity: 1; }
        .team-content .body .electrical.activated img, .team-content .body .mechanical.activated img, .team-content .body .business.activated img {
          transform: translate(0px, 0px);
          clear: left;
          float: left;
          transition: width 0s, opacity 0.2s 0.3s;
          opacity: 1;
          transform: translate(0px, 0px);
          max-height: 400px;
          max-width: 60%;
          height: auto;
          width: auto;
          margin-top: 30px;
          border-radius: 0;
          filter: none;
          cursor: initial;
          border: none;}
        .team-content .body .electrical.activated p, .team-content .body .mechanical.activated p, .team-content .body .business.activated p {
          display: block;
          opacity: 1;
          transform: translate(0, 0);
          float: right;
          text-align: left;
          margin-left: 30px;
          margin-top: 10%;
          height: 30%;
          max-width: 33%; }
      .team-content .body .electrical.activated-out, .team-content .body .mechanical.activated-out, .team-content .body .business.activated-out {
        transition: all 0.3s;
        opacity: 0; }
    .team-content .body .electrical, .team-content .body .mechanical {
      opacity: 1; }
  .team-content .header-team h2, .team-content .header-team p {
    padding: 0;
    margin-bottom: 20px; }
  .team-content h2 {
    padding: 20px;
    border-bottom: none;
    margin-bottom: 0;
    transition: all 0.3s; }

.team-members {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  justify-content: center; }
  .team-members .team-member {
    overflow: hidden;
    margin: 15px;
    padding: 0px;}
    .team-members .team-member img {
      width: 100%; }
    .team-members .team-member .member-description {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(141, 75, 7, 0.2); }
      .team-members .team-member .member-description h4 {
        margin: 0; }
      .team-members .team-member .member-description .name, .team-members .team-member .member-description .program, .team-members .team-member .member-description .title {
        text-align: center;
        margin: 2px;}
      .team-members .team-member .member-description .program, .team-members .team-member .member-description .title {
        transition: all 0.3s;
        height: 0px; }
    .team-members .team-member:hover .member-description {
      background: rgba(141, 75, 7, 0.6); }
      .team-members .team-member:hover .member-description .program, .team-members .team-member:hover .member-description .title {
        white-space: nowrap;
        line-height: 20px;
        height: 20px;
        font-size: 12px; }

@media (max-width: 992px) {
  #myCarousel {
  height: 80vh;}
  #myCarousel .carousel-inner .img-1, .img-2, .img-3, .img-4 {
    background-position: center -20vh;
    height: 80vh;
  }
  .team-members {
    width: 100vw;
    margin-left: 0;
  }
}

.team-content .team img {
  width: 100%;
}

.team-content  .team p {
  margin-top: 15px;
}

.team-content .team .text-center {
  margin-top: 15px;
  margin-bottom: 15px;
}

/*# sourceMappingURL=team.css.map */
