lib-cov
coverage
.nyc_output
.grunt
.lock-wscript
build/Release
# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed


# Dependency directories
node_modules
jspm_packages

# cache directory
.npm
babel_cache
.node_repl_history
tools
